<!DOCTYPE html>
<html lang="pt-br">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/page2.css}">
    <title>Cadastro</title>
</head>
<body>
	<div class="full-screen">
		<div class="rightScreenInputs">
			<a th:href="@{/}" ><span>Home</span></a>
			<form th:action="@{/alterar}"  method="POST" >
				<input type="hidden" placeholder="Id" name="id" th:field="${cliente.id}"/><br>
				<input required="required" placeholder="Nome" name="nome" th:field="${cliente.nome}" /><br>
				<input required="required" type="text" placeholder="telefone" name="telefone" id="telefone" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" th:field="${cliente.telefone}" /><br>
				<input required="required" placeholder="Data Nascimento" name="dataNasc" id="nasc"maxlength="10" onkeypress="mascaraData(this)" th:field="${cliente.dataNasc}"/><br>
				<select name="genero">
					<option>Mascfelino</option>
  					<option>Femasc</option>
				</select><br>
				<input type="file" name="foto" accept="image/png, image/jpeg" />
				<button id="botaoCadastro" type="submit">Alterar dados</button><br>
			</form>
		<a th:href="@{/listar-clientes}" ><span>Listar Clientes</span></a>
		</div>
		<div class="leftScreenPhoto">
			<p>aqui vai o iputa da foto</p>
    

		    
</form>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/script.js}"></script>	
			
</body>
</html>