<!DOCTYPE html>
<html lang="pt-br">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/page2.css">
    <title>Cadastro</title>
</head>
<body>
	<div class="full-screen">
		<div class="rightScreenInputs">
			<a th:href="@{/cadastrar-clientes}" ><span>Voltar</span></a>
		
	        <table>
	            <thead>
			        <tr class="tableHeader">
			            <th id="tableNome" scope="col">Nome</th>
			            <th id="tableGenero" scope="col">Tel</th>
			            <th id="tableNumPagina" scope="col">data de nascimento</th>
			            <th id="tableAutor" scope="col">genero</th>
			            <th id="tableAutor" scope="col">imagem</th>
			            <th id="tableAutor" scope="col">quant.pe</th>
			            <th id="tableAutor" scope="col">quant.mao</th>
			            <th id="tableAutor" scope="col">quant.somb</th>
			            <th id="tableAutor" scope="col">quant.cabelos</th>
			        </tr>
	        	</thead>
	            	<tr th:each="cliente:${clientes}">
			            <td><span th:text="${cliente.nome}"></span></td>
			            <td><span th:text="${cliente.telefone}"></span></td>
			            <td> <span th:text="${cliente.dataNasc}"></span></td>
			            <td><span th:text="${cliente.genero}"></span></td>
			            <td><span th:text="${cliente.numPes}"></span></td>
			            <td><span th:text="${cliente.numMaos}"></span></td>
			            <td><span th:text="${cliente.numSobrancelhas}"></span></td>
			            <td><span th:text="${cliente.numCabelos}"></span></td>  
			            
			            <td><a class="btn btn-danger" th:href="@{excluir/{id}(id=${cliente.id})}">
		      
		      				<i class="fas fa-times"></i>Excluir</a></td>
					      <td><a class="btn btn-danger" th:href="@{alterar/{id}(id=${cliente.id})}">
					      
					      	<i class="fas fa-times"></i>Alterar</a></td>
			            
		            </tr>
				
			</table>
		</div>
		
		<div class="leftScreenPhoto">
			
			
		</div>
	</div>

	
</body>
</html>